<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Port" value="Local" />
        <add key="Top" value="1607" />
        <add key="Left" value="852" />
        <add key="spdUnit" value="0" />
        <add key="intensity" value="1" />
        <add key="telemEnable" value="True" />
        <add key="brakeEnable" value="False" />
        <add key="brakeTol" value="50" />
        <add key="brakeSens" value="1" />
        <add key="lagunaseca-lotus79" value="1.54561277519573" />
        <add key="lagunaseca-lotus79-l" value="165" />
        <add key="mosport-lotus79" value="1.46357594266058" />
        <add key="mosport-lotus79-l" value="281" />
        <add key="bathurst-lotus79" value="2.41374347814874" />
        <add key="bathurst-lotus79-l" value="67" />
        <add key="silverstone historicgp-lotus79" value="1.98371528639582" />
        <add key="silverstone historicgp-lotus79-l" value="203" />
        <add key="bathurst-c6r" value="0" />
        <add key="bathurst-c6r-l" value="0" />
        <add key="watkinsglen classic-bmwz4gt3" value="0" />
        <add key="watkinsglen classic-bmwz4gt3-l" value="0" />
        <add key="roadamerica full-lotus79" value="2.41799347217266" />
        <add key="roadamerica full-lotus79-l" value="13" />
        <add key="spa up-lotus79" value="2.73485705068896" />
        <add key="spa up-lotus79-l" value="143" />
        <add key="newhampshire oval-lotus79" value="0.60366096496582" />
        <add key="newhampshire oval-lotus79-l" value="5" />
        <add key="charlotte quadoval-lotus79" value="1.00472888946533" />
        <add key="charlotte quadoval-lotus79-l" value="5" />
        <add key="sebring international-lotus79" value="2.39982243748598" />
        <add key="sebring international-lotus79-l" value="86" />
        <add key="zolder gp-lotus79" value="1.73211813617398" />
        <add key="zolder gp-lotus79-l" value="111" />
        <add key="lagunaseca-radical sr8" value="0.870350196594144" />
        <add key="lagunaseca-radical sr8-l" value="82" />
        <add key="zolder gp-williamsfw31" value="2.84525299072266" />
        <add key="zolder gp-williamsfw31-l" value="1" />
        <add key="spa up-williamsfw31" value="4.67188320488765" />
        <add key="spa up-williamsfw31-l" value="29" />
        <add key="barber full-williamsfw31" value="2.39456176757813" />
        <add key="barber full-williamsfw31-l" value="1" />
        <add key="suzuka grandprix-williamsfw31" value="3.53029406070709" />
        <add key="suzuka grandprix-williamsfw31-l" value="4" />
        <add key="oulton intbrittens-williamsfw31" value="2.78849713007609" />
        <add key="oulton intbrittens-williamsfw31-l" value="6" />
        <add key="mosport-radical sr8" value="1.0966408783169" />
        <add key="mosport-radical sr8-l" value="209" />
        <add key="spa up-radical sr8" value="1.99316393037635" />
        <add key="spa up-radical sr8-l" value="240" />
        <add key="oulton intnochicane-radical sr8" value="1.32746575782852" />
        <add key="oulton intnochicane-radical sr8-l" value="443" />
        <add key="roadatlanta full-c6r" value="2.17907023429871" />
        <add key="roadatlanta full-c6r-l" value="4" />
        <add key="barber full-radical sr8" value="1.09770932359603" />
        <add key="barber full-radical sr8-l" value="309" />
        <add key="thompson-streetstock" value="0.477666890179669" />
        <add key="thompson-streetstock-l" value="54" />
        <add key="lanier-skmodified tour" value="0" />
        <add key="lanier-skmodified tour-l" value="0" />
        <add key="barber full-skmodified" value="0" />
        <add key="barber full-skmodified-l" value="0" />
        <add key="summit summit raceway-radical sr8" value="0.9970703125" />
        <add key="summit summit raceway-radical sr8-l" value="1" />
        <add key="virginia east-radical sr8" value="0" />
        <add key="virginia east-radical sr8-l" value="0" />
        <add key="monza full-radical sr8" value="1.72352403908967" />
        <add key="monza full-radical sr8-l" value="200" />
        <add key="roadamerica full-mclarenmp4" value="0" />
        <add key="roadamerica full-mclarenmp4-l" value="0" />
        <add key="montreal-radical sr8" value="1.42988039317884" />
        <add key="montreal-radical sr8-l" value="19" />
        <add key="sebring international-radical sr8" value="1.77080683128253" />
        <add key="sebring international-radical sr8-l" value="74" />
        <add key="silverstone historicgp-radical sr8" value="1.41128166354432" />
        <add key="silverstone historicgp-radical sr8-l" value="49" />
        <add key="cota gp-radical sr8" value="1.63008987748777" />
        <add key="cota gp-radical sr8-l" value="77" />
        <add key="spa combined-astonmartin dbr9" value="3.6698413848877" />
        <add key="spa combined-astonmartin dbr9-l" value="10" />
        <add key="watkinsglen fullcourse-astonmartin dbr9" value="2.81769409775734" />
        <add key="watkinsglen fullcourse-astonmartin dbr9-l" value="44" />
        <add key="monza combinedchicanes-astonmartin dbr9" value="0" />
        <add key="monza combinedchicanes-astonmartin dbr9-l" value="0" />
        <add key="bathurst-astonmartin dbr9" value="0" />
        <add key="bathurst-astonmartin dbr9-l" value="0" />
        <add key="montreal-astonmartin dbr9" value="2.67874145507813" />
        <add key="montreal-astonmartin dbr9-l" value="3" />
        <add key="monza full-astonmartin dbr9" value="3.20183873176575" />
        <add key="monza full-astonmartin dbr9-l" value="4" />
        <add key="sonoma long-astonmartin dbr9" value="0" />
        <add key="sonoma long-astonmartin dbr9-l" value="0" />
        <add key="okayama full-astonmartin dbr9" value="1.99217844009399" />
        <add key="okayama full-astonmartin dbr9-l" value="12" />
        <add key="spa up-astonmartin dbr9" value="3.67526590824127" />
        <add key="spa up-astonmartin dbr9-l" value="6" />
        <add key="interlagos gp-radical sr8" value="1.21999663114548" />
        <add key="interlagos gp-radical sr8-l" value="8" />
        <add key="oulton intnochicane-astonmartin dbr9" value="0" />
        <add key="oulton intnochicane-astonmartin dbr9-l" value="0" />
        <add key="oulton fosters-rt2000" value="0.359025955200195" />
        <add key="oulton fosters-rt2000-l" value="3" />
        <add key="phillipisland-radical sr8" value="1.38488087446793" />
        <add key="phillipisland-radical sr8-l" value="23" />
        <add key="oulton intnochicane-dallaradw12" value="3.66589164733887" />
        <add key="oulton intnochicane-dallaradw12-l" value="1" />
        <add key="spa up-dallaradw12" value="5.57662868499756" />
        <add key="spa up-dallaradw12-l" value="4" />
        <add key="virginia full-rt2000" value="0.70713746547699" />
        <add key="virginia full-rt2000-l" value="8" />
        <add key="virginia east-dallaradw12" value="0" />
        <add key="virginia east-dallaradw12-l" value="0" />
        <add key="sonoma cup-radical sr8" value="1.0119514465332" />
        <add key="sonoma cup-radical sr8-l" value="5" />
        <add key="virginia full-hpdarx01c" value="2.37003374099731" />
        <add key="virginia full-hpdarx01c-l" value="2" />
        <add key="donington gp-radical sr8" value="1.22730331420898" />
        <add key="donington gp-radical sr8-l" value="5" />
        <add key="spa up-rufrt12r awd" value="0" />
        <add key="spa up-rufrt12r awd-l" value="0" />
        <add key="bathurst-rt2000" value="0.797375151605317" />
        <add key="bathurst-rt2000-l" value="33" />
        <add key="monza junior-rt2000" value="0.322452191953306" />
        <add key="monza junior-rt2000-l" value="27" />
        <add key="sebring international-mercedesamggt3" value="3.98559429168701" />
        <add key="sebring international-mercedesamggt3-l" value="25" />
        <add key="bathurst-radical sr8" value="0" />
        <add key="bathurst-radical sr8-l" value="0" />
        <add key="indianapolis road-mercedesamggt3" value="2.69330469767253" />
        <add key="indianapolis road-mercedesamggt3-l" value="3" />
        <add key="lemans full-audi90gto" value="8.71355819702148" />
        <add key="lemans full-audi90gto-l" value="2" />
        <add key="interlagos gp-audi90gto" value="2.55996900513059" />
        <add key="interlagos gp-audi90gto-l" value="21" />
        <add key="montreal-audi90gto" value="2.93803050782945" />
        <add key="montreal-audi90gto-l" value="9" />
        <add key="sebring international-nissangtpzxt" value="4.23585224151611" />
        <add key="sebring international-nissangtpzxt-l" value="4" />
        <add key="mosport-nissangtpzxt" value="2.63381195068359" />
        <add key="mosport-nissangtpzxt-l" value="5" />
        <add key="daytona 2011 road-nissangtpzxt" value="3.98775005340576" />
        <add key="daytona 2011 road-nissangtpzxt-l" value="4" />
    </appSettings>
</configuration>